@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/pattern-background-desktop.svg") no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
}
main {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width:432px
}
.main-img,
img {
    width: 100%;
}
.other {
/*     height: 375px; */
    width: 350px;
    padding: 20px;
}
.main-img svg {
    border-radius: 15px 15px 0 0;
    width: 100%;
}
main h1 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.offer {
    display: flex;
    width: 330px;
    background-color: hsl(225, 100%, 98%);
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
}
.offer svg {
    margin: auto 0 auto 0;
}
.price {
    display: flex;
    margin: auto 0 auto 0;
    justify-content: space-between;
}
.left {
    margin-left: 1.2rem;
}
.left span {
    color: hsl(225, 100%, 94%);
    font-weight: 700;
}
.change a {
    color: hsl(245, 75%, 52%);
    margin-left: 6rem;
}
.proced {
    width: 330px;
    height: 15px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 20px 10px 20px 10px;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.cancel {
    color: hsl(224, 23%, 55%);
    margin-top: 25px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
}
a:hover {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}
.proced:hover {
    background-color: hsl(224, 23%, 55%);
}
.cancel:hover {
    color: hsl(223, 47%, 23%);
}
.description {
    margin-bottom: 25px;
}
@media (max-width: 675px) {
    body {
        background: url("./images/pattern-background-mobile.svg") no-repeat;
        background-size: contain;
        background-color: hsl(225, 100%, 94%);
    }
}
